@import "shared.css";

html, body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.page-width-wrapper {
  margin: 0 auto;
  max-width: 600px;
  padding: 60px 20px;
}

@media (max-width: 600px) {
  body { font-size: 0.9em; }
}

@media (max-width: 480px) {
  .page-width-wrapper { padding: 0; }
}

small { font-size: smaller; }
main header,
section { margin-bottom: 1em; }

article { page-break-inside: avoid; }

main header div {
  display: flex;
  justify-content: space-between;
}

main ul {
  list-style: square;
  padding-left: 2em;
}

main ul ul { list-style: circle; margin-bottom: 0; }

footer { text-align: center; }
